<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %>
    <form id="updateForm">
      <!-- Material input -->
      <div class="md-form">
        <input
          type="text"
          id="title"
          class="form-control"
          value="<%= result.title %>"
          required
        />
        <label for="Input title">Input Title</label>
      </div>
      <div class="md-form">
        <input
          type="text"
          id="director"
          class="form-control"
          value="<%= result.director %>"
          required
        />
        <label for="Input director">Input Director</label>
      </div>
      <div class="md-form">
        <input
          type="text"
          id="year"
          class="form-control"
          value="<%= result.year %>"
          required
        />
        <label for="Input year">Input Year</label>
      </div>
      <button type="sumbit" class="btn btn-primary">
        저장
      </button>
    </form>
    <%- include("../footer"); %>
    <script>
      $(function () {
        $("#updateForm").submit((event) => {
          event.preventDefault(); //submit의 기본 속성인 화면 refresh를 막음
          //등록
          const title = $("#title").val();
          const director = $("#director").val();
          const year = $("#year").val();

          $.ajax({
            url: "/api/movie/<%= result._id %>",
            type: "PUT",
            data: { title, director, year },
          })
            .done(() => {
              location.href = "/api/movie/<%= result._id %>";
            })
            .fail((request, status, error) => {
              alret(request.responseText);
            });
        });
      });
    </script>
  </body>
</html>
